@font-face {
    font-family: "c64";
    src: url(C64_User_v1.0-STYLE.ttf);
}

body{
	font-family: 'c64', sans-serif;
	color: white;
}

div.task {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

p.time {
	margin: 0;
	float: right;
}

h1{
	font-size: 20px;
}
